
@{
    ViewData["Title"] = "Não Logado";
}

<main>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IN3Yr3KYkOA" frameborder="0"></iframe>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row my-4">
        <div class="col-3"></div>
        <h4 class="col-6">Turpis turpis porta habitasse dis? Nunc in lundium placerat nec, risus placerat. Elementum aliquet amet parturient sed adipiscing pid vel. Amet nec nec!</h4>
        <div class="col-3"></div>
    </div>

    <div class="row my-4 text-center">
        <div class="col-3"></div>
        <div class="col-2">
            <img src="~/images/icon-paraler.png" alt="Livros para Ler">
            <h4 class="mt-2">Para Ler</h4>
        </div>
        <div class="col-2">
            <img src="~/images/icon-lendo.png" alt="Livros Lendo">
            <h4 class="mt-2">Lendo</h4>
        </div>
        <div class="col-2">
            <img src="~/images/icon-lidos.png" alt="Livros Lidos">
            <h4 class="mt-2">Lidos</h4>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row my-4 text-center">
        <div class="col-4"></div>
        <div class="col-4">
            <a asp-action="Login" asp-controller="Account" class="btn btn-primary">ENTRAR</a>
            <a asp-action="Register" asp-controller="Account" class="btn btn-primary">INSCREVER</a>
        </div>
        <div class="col-4"></div>
    </div>

</main>

